Checks: "
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-command-processor,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-sizeof-expression,
  -bugprone-suspicious-string-compare,
  -bugprone-unchecked-string-to-number-conversion,
  clang-analyzer-*,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -clang-analyzer-security.insecureAPI.*,
  -clang-analyzer-unix.Stream,
  misc-*,
  -misc-header-include-cycle,
  -misc-include-cleaner,
  -misc-no-recursion,
  modernize-*,
  -modernize-avoid-c-style-cast,
  -modernize-macro-to-enum,
  performance-*,
"
HeaderFilterRegex: ".*"
WarningsAsErrors: "*"
